button {
  align-items: center;
  justify-content: center;
}

.viewer {
  margin: 0px 100px 100px 100px;
  text-align: center;
}

.card {
  font-size: 18pt !important;
  background-color: transparent;
  cursor: pointer;
  height: 300px;
  width: 500px;
}

.card:hover,
.card:focus,
.card:active {
  background-color: transparent !important;
  box-shadow: none !important;
  outline: none;
}

.card-front {
  font-weight: bold !important;
}

.progress {
  width: 500px !important;
  margin: auto;
}
